@import "tailwindcss";
@source "../../../ui";

@theme {
  --color-eu-blue: #003399;
  --color-eu-blue-hover: #0055cc;
  --color-hc-link: #7799ff;
  --color-hc-link-hover: #4c6ff0;
}

/* https://rsms.me/inter/ */
:root {
  font-family: Inter, sans-serif;
  font-feature-settings:
    "liga" 1,
    "calt" 1;
}
@supports (font-variation-settings: normal) {
  :root {
    font-family: InterVariable, sans-serif;
  }
}

.noo {
  font-family: "DynaPuff", serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-weight: normal;
  font-variation-settings: "wdth" 100;

  /* DynaPuff shows up a bit off-center */
  /* top: 0.03em; */
  /* position: relative; */
}

.link {
  @apply text-eu-blue hover:text-eu-blue-hover dark:text-hc-link dark:hover:text-hc-link-hover;
}

@utility shadow-with-highlights {
  box-shadow:
    0 5px 40px 10px rgba(60, 60, 60, 0.6),
    rgba(0, 0, 0, 0.5) 0px 10px 15px -3px,
    rgba(0, 0, 0, 0.5) 0px 4px 6px -4px;
}
